In [1]:
import pandas as pd

In [3]:
pd.read_excel("../Data/IPO_data.xlsx")

,Company,Opening Date,Issue Type,Issue Amount (Rs.cr.),Period Ended,Assets (Rs.cr.),Revenue (Rs.cr.),Profit After Tax (Rs.cr.),Net Worth (Rs.cr.),Reserves and Surplus (Rs.cr.),Total Borrowing (Rs.cr.)
0,Excelsoft Technologies IPO,"Nov 19, 2025",Mainboard,500.00,"Jun 30, 2025",478.34,60.28,6.01,375.95,274.25,37.82
1,Capillary Technologies IPO,"Nov 14, 2025",Mainboard,877.50,"Sep 30, 2025",892.33,362.56,1.03,509.38,149.34,88.94
2,Fujiyama Power Systems IPO,"Nov 13, 2025",Mainboard,828.00,"Jun 30, 2025",1243.88,597.79,67.59,464.34,436.33,432.83
3,Tenneco Clean Air IPO,"Nov 12, 2025",Mainboard,3600.00,"Jun 30, 2025",2918.77,1316.43,168.09,1250.38,1204.30,NaN
4,Mahamaya Lifesciences IPO,"Nov 11, 2025",SME,66.91,"Jun 30, 2025",218.87,84.04,4.10,53.50,35.73,57.72
...,...,...,...,...,...,...,...,...,...,...,...
889,DHARNI Capital IPO,"Jan 18, 2023",SME,10.20,"Sep 30, 2022",2.93,3.05,0.59,2.86,0.00,0.00
890,Aristo Bio-Tech IPO,"Jan 16, 2023",SME,12.40,"Sep 30, 2022",108.69,129.07,2.59,17.43,12.44,29.36
891,Ducol Organics IPO,"Jan 09, 2023",SME,28.38,"Sep 30, 2022",60.55,48.75,4.17,24.85,14.90,13.50
892,Eastern Logica Infoway IPO,"Jan 05, 2023",SME,16.07,"Sep 30, 2022",125.62,305.04,1.33,36.03,33.85,56.95
893,Chaman Metallics IPO,"Jan 04, 2023",SME,22.98,"Sep 30, 2022",90.86,111.82,6.82,44.73,26.97,16.08